<body class="cooking_back">
<div class="hob-index">
<div class="hobs-container">
 <% @tweets.each do |t| %> 

  <div class="hob-container">
   <div class="hob-images">
     <%= image_tag t.image_url, size: "250x200" if t.image? %><br>
   </div>
      <%= t.about %><br>
      <%= button_to "詳細へ", tweet_path(t.id), method: :get %>
      <%= button_to "編集する", edit_tweet_path(t.id), method: :get %>
      <%= button_to "削除する", tweet_path(t.id), method: :delete %>
  </div>
 <% end %>
</div>
</div>

</body>