


<body class="index_back">
<div class="L">
<%= link_to tweets_result_path do %>
  <%= image_tag 'sports_link2.jpg', class:"logo-image1" %>
<% end %>
<%= link_to tweets_music_path do %>
  <%= image_tag 'music_link2.jpg', class:"logo-image2" %>
<% end %>
<%= link_to tweets_cooking_path do %>
  <%= image_tag 'cooking_link2.jpg', class:"logo-image3" %>
<% end %>
<%= link_to tweets_anime_path do %>
  <%= image_tag 'anime_link2.jpg', class:"logo-image4" %>
<% end %>
<%= stylesheet_link_tag 'index', :media => "all" %>
</div>
</body>